.App {
  text-align: center;

  h1 {
    margin: 1rem;
  }
  input {
    width: 10rem;
    height: 2rem;
    margin: 0 1rem;
    padding: 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 50px;
    text-align: center;
  }
  hr {
    margin: 1rem;
    color: lightgrey;
  }
  .Cards {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (max-width: 1000px) {
      grid-template-columns: 300px 300px;
    }
    @media (max-width: 700px) {
      grid-template-columns: 300px;
    }
  }
  .NoData {
    font-weight: bold;
    color: red;
  }
}
