.App {
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5rem;
  border: 1px solid black;
}
.header > section {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid black;
}
.header > section > div {
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5rem;
}
.content > section {
  padding: 0.3rem;
  border: 1px solid lightgrey;
}