.App {
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5rem;
  border: 1px solid black;
}
.header > section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5rem;
}
.content > section {
  align-items: center;
  padding: 0.3rem;
  border: 1px solid lightgrey;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-list {
  height: 70vh;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: black;
}

.paginationActive a {
  color: white;
  background-color: black;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}